doctype html
html(lang="es")
    head
        meta( charset='utf-8' ) 
        block title
            title El titulo de la pagina
        meta( charset='utf-8' ) 
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='En nuestra Feria El Bosque Emprende encontrarás productos y servicios que ofrecen nuestros Graduados El Bosque. ' )
        meta( name='format-detection' content='telephone=no' )
        meta( property="og:title" content="Feria El Bosque Emprende" ) 
        meta( property="og:url" content="https://feriaelbosqueemprende.unbosque.edu.co" )
        meta( property="og:description" content="En nuestra Feria El Bosque Emprende encontrarás productos y servicios que ofrecen nuestros Graduados El Bosque.")
        meta( property="og:image" content="/assets/images/share-feria.png")
        link(rel='shortcut icon' href='/assets/images/favicon.ico' type='image/vnd.microsoft.icon')
        
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous")
        link(href="/assets/css/style.css", rel="stylesheet")

        link(rel='shortcut icon' href='/images/ueb_favicon.ico' type='image/vnd.microsoft.icon')
        // Global site tag (gtag.js) - Google Analytics
        script(async src='https://www.googletagmanager.com/gtag/js?id=UA-21086899-19')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          
          gtag('config', 'UA-21086899-19');




    body.categorias

        //- mixins file
        include ../template-parts/mixins.pug

        block navbar
        include ../template-parts/navbar.pug 

        block banner

        .main
            //- body block content
            block contenido

            //- body banner content
            include ../template-parts/banner-section.pug  


        // /.main

        block footer
        include  ../template-parts/footer.pug
        // /footer 

                
        //- Page transitions js
        include  ../template-parts/js-body-ends.pug

