//- .component-name
//- .component-name--variant
//- .component-name__sub-object
//- .component-name__sub-object--variant 

extends pug/page-templates/tpl_master.pug

block title
	title Manual Sitio web ASOAGUAS  - WIX

block contenido
	.container
	
		.row
			h2.mt-4.pb-4.pt-2.text-primary  Como ingresar al administrador de la pagina
			+simple-card('assets/images/p-ingresar.png','Ingresar', 'Igresar a https://www.wix.com/', 'https://youtu.be/njL_qDeJjVY')

			
		.row
			h2.border-top.border-primary.mt-4.pb-4.pt-2.text-primary  Editar Homepage
			+simple-card('assets/images/p-notificaciones.png','Notificaciones', 'Este componente se usa para informar a los usuarios sobre alertas y comunicados', 'https://youtu.be/6KucRVLcgM4')
			+simple-card('assets/images/p-hero.png','Banner principal', 'Este componente se usa para destacar una información.', 'https://youtu.be/7Nh7BHPdH94')
			+simple-card('assets/images/p-canales.png','Datos de contacto', 'Este componente se usa para mostrar los datos de contacto', 'https://youtu.be/cimhZG-iikQ')

		.row
			h2.border-top.border-primary.mt-4.pb-4.pt-2.text-primary  Editar paginas
			+simple-card('assets/images/p-paginas.png','Encontrar y editar paginas', 'Puede editar cualquier pagina del sitio.', 'https://youtu.be/VEW-_z3-Qb4')
			+simple-card('assets/images/p-tramites.png','Trámites', 'Este componente se usa para añadir tramites en la sección "Informacion al usuario".', 'https://youtu.be/z53RkQbiJFk')
			+simple-card('assets/images/p-normatividad.png','Normatividad', 'Este componente se usa para añadir documentos  en la sección "Normatividad".', 'https://youtu.be/wINONWEku1U')


		.row
			h2.border-top.border-primary.mt-4.pb-4.pt-2.text-primary  Formularios y Chat
			+simple-card('assets/images/p-form.png','Formularios y Chat', 'Puede consultar los mensajes y responder a las inquietudes enviadas".', 'https://youtu.be/V34cNqxVNjA')

		.row
			h2.border-top.border-primary.mt-4.pb-4.pt-2.text-primary  Blog
			+simple-card('assets/images/p-entrada.png','Articulos de Blog', 'Los articulos de blog creados se muestran automaticamente en la pagina "Blog" y en el homepage de acurdo a la fecha de creación.', 'https://youtu.be/uOB_XZI1ZAY')

		.row
			h2.border-top.border-primary.mt-4.pb-4.pt-2.text-primary  Tener en cuenta:
			ol(style="padding-left:4rem;") 
				li Los accesos para ingresar a la plataforma se enviaron de manera segura al correo "asoaguas.el.imperio.admon@gmail.com"
				li El botón <b>"Guardar"</b> no publica la información ingresada, unicamente guarda.
				li El botón <b>"publicar"</b> realiza la acción para publicar. Para ver los cambios en la pagina "asoaguas.com" debe refrescar su navegador.
				li Si no esta seguro de la actualizacion no use los botones "Guardar" y "Publicar". Puede descartar los cambios que hizo, si no realiza ninguna acción menccionada.
				li Puede usar el comando en el teclado "CRT Z" para reacer acciones, como si estuviera editando un documento en word.




	
















	

















			






















	

			



	

			

		
















	

















			






















	

			



	

			

	