section.banner.bg-secondary
	.container-lg
		.row.align-items-stretch
			.col-12.col-md-6.offset-md-1.order-md-2.g-0
				.position-relative.vw-50.d-md-block.emprende-col-banner
			.col-12.col-md-4.offset-md-1.order-md-1.d-flex.align-content-center.flex-wrap.mt-md-4
				.emprende-body-banner.mb-md-5.mb-3.mt-3
					|Consulta aquí la agenda del evento, un espacio de networking para apoyar el emprendimiento
				a(class="btn btn-banner-border mb-4 mb-md-0" href="/assets/images/Agenda_Feria-El-Bosque-Emprende.pdf" target="_blank") Agenda Evento

	// /.container
// /.banner
