footer.py-40.bg-white.my-4.my-md-0
	.container
		.row.justify-content-center
			.col-6.col-md-5.mt-sm-5.mt-0.pb-4.border-bottom.text-secondary
				p <b>Mayor información</b><br>Área de Egresados<br>6489000 ext. 1173-1491<br>
					
				a(href="mailto:egresados@unbosque.edu.co") egresados@unbosque.edu.co
			.col-6.col-md-5.mt-sm-5.mt-0.pb-4.text-end.border-bottom
				img(src="/assets/images/logo-ueb-footer.svg" alt="Logo UEB")
		.row
			.col.text-center.my-3.text-muted.fw-light
				small Vigilada Mineducación. Personería Jurídica otorgada mediante resolución 11153 del 4 de agosto de 1978.
	// /.container
// /footer
