section.form-maestros.bg-light-orange.pb-40
	.container-lg.bg-white.rounded-4.py-40.px-90.box-shadow-light
		.row
			h5.type--subtitle.mb-1.fw-light Empezar ahora
			h1.type--title <span>Inscribirse al</span> Club Maestros Corona Grival <span>!Es fácil y gratis!</span>
			p.type--body 
				|Ingrese sus datos para completar la inscripción y empiece a recibir todos los beneficios.


		form
			.row
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Nombre
					input(type="text" class="form-control" id="" placeholder="Primer Nombre")
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Apellido
					input(type="text" class="form-control" id="" placeholder="Primer Apellido")
			.row
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Tipo de Documento
					select(type="text" class="form-select" id="")
						option(selected='') Seleccionar un tipo de documento
						option Cédula de Ciudadanía
						option Pasaporte
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Cédula
					input(type="text" class="form-control" id="" placeholder="No. de Cédula")
			.row
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Celular
					input(type="text" class="form-control" id="" placeholder="")
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Correo electrónico
					input(type="text" class="form-control" id="" placeholder="")
			.row.mb-3
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Departamento
					select(type="text" class="form-select" id="")
						option(selected='') Seleccionar un Departamento
						option ...
				.col-md-6.mb-3.mb-md-2
					label(for="" class="form-label") Ciudad
					select(type="text" class="form-select" id="")
						option(selected='') Seleccionar una Ciudad
						option ...

			.row.mb-3
				.col
					.form-check.mb-0
						input(type="checkbox" class="form-check-input" value="" id="")
						label(class="form-check-label" for="flexCheckDefault") Autorizo el tratamiento de mis datos, de acuerdo a los siguientes <a href="/">términos</a>
					.form-check
						input(type="checkbox" class="form-check-input" value="" id="")
						label(class="form-check-label" for="flexCheckDefault") Acepto <a href="/">términos y condiones y las políticas de uso</a>
			.row
				.col.d-flex.justify-content-center
					button(type="submit" class="btn btn-primary-xl d-md-inline-block d-block ") Registrarme

	// /..container-lg
// /header

				





