section.hero.bg-hero.pb-5
	.container-lg
		.row.pb-5.justify-content-center.position-relative.body-hero
			.col-xxl-5.col-xl-6.col-lg-7.col-10
				img(src="/assets/images/logo-feria.svg" class="img-fluid")
		.row.mt-5.justify-content-center.position-relative.body-hero
			.col-xxl-5.col-xl-6.col-lg-7.col-10.text-center
				.hero-date
					|Noviembre 25 al 27, 2021
				a(class="btn btn-secondary-border" href="https://www.youtube.com/watch?v=wIlANWP9fG4" target="_blank") Ver transmisión en vivo
		
	// /.container-lg
// /hero

				





